<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} : {{ title }}</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{url_base}}/favicon.ico"
    />
    {{# <link rel="stylesheet" type="text/css" href="/style.css" /> #}}
  </head>
  <body>
    <main class="container">
      <article> 
        {{ content |> md }}
      </article>
    </main>
  </body>
</html>
